<h1>Passenger: <%= @passenger.name %></h1>
<br>
<h4>List of Passenger's Flights</h4>
<% @passenger.flights.each do |flight| %>
  <p><%= link_to "#{flight.number}", "/flights/#{flight.id}" %></p>
<% end %>
<br>
<h2>Add a New Flight</h2>
